<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:title="${title}">Title</title>
</head>
<body>

<h1 th:text="${title}">title</h1>
<table>
    <tr>
        <th>ID</th>
        <th>名称</th>
        <th></th>
    </tr>
    <tr th:each="kind : ${kinds}">
        <td th:text="${kind.id}"></td>
        <td th:text="${kind.name}"></td>
        <td><a th:href="@{'http://localhost:8671/kind/delete/'+${kind.id}}">删除</a></td>
    </tr>
</table>

<select>
    <option th:each="user : ${userList}" th:value="${user.name}" th:text="${user.name}"></option>
</select>

</body>
</html>